    <table class="email-table-content">
        <tr>
            <td>{hour}</td>
            <td class="email-message"rowspan='3' colspan='1'>{message}</td>
        </tr>
        <tr>
            <td>{date}</td>
        </tr>
        <tr>
            <td>{location}</td>
        </tr>
    </table>
