* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.email-table-content {
    margin: auto;
    width: 700px;
    
    background-color: rgb(250, 250, 250);
    color:rgb(87, 87, 87);
    border-top: solid black 1px;
}

.email-table-content:last-child {
    border-bottom: solid black 1px;
}

.email-table-header{
    font-size: 20px;
    padding: 30px 0px 30px 0px;
    
    background: rgb(229, 0, 91)
}
.email-title {
    color: rgb(252, 252, 252);
}
img {
    width: 200px;
}
.email-message {
    width: 70%;
}
td {
    width: 20%;
    padding: 5px;
}

